<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9b74a98d1b.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    {% block styles %}
    {% endblock styles %}

    <title>{{ title }}</title>
</head>
<body>
    <menu class="main_menu">

        <li class="main_menu_item sign_up_container">
            <a href="{{ url_for('User.sign_in') }}" class="link_sign_up">
                <i class="fas fa-sign-in-alt"></i>
            </a>
        </li>
        <li class="main_menu_item">
            <a href="{{ url_for('wall') }}" class="link_wall">wall</a>
        </li>

    </menu>

    <main>  

        {% block main %}

        {% endblock main %}

    </main>

{% block scripts %}
{% endblock scripts %}

</body>
</html>