<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9b74a98d1b.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    {% block styles %}
    {% endblock styles %}

    <title>{{ title }}</title>
</head>
<body>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul id="flashes" class=flashes>
    {% for message in messages %}
    <li class="flashes-message">{{ message }}</li>
    {% endfor %}
</ul>
<script>
    let flashes = document.getElementById('flashes');

    for (let child of flashes.children) {
        child.addEventListener('click', function () {
            child.style.opacity = '0';
            setTimeout(function () {
                flashes.removeChild(child);
                if (!flashes.children.length) {
                    flashes.style.opacity = '0';
                    setTimeout(function () {
                        document.getElementsByTagName('body')[0].removeChild(flashes)
                    }, 600);
                }
            }, 400);
        });
    }
</script>
{% endif %}
{% endwith %}

<menu class="main_menu">

    {% if current_user.is_authenticated %}
    <li class="main_menu_item right_side_menu">
        <a href="{{ url_for('User.logout') }}" class="link_sign_up">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </li>
    <li class="main_menu_item left_side_menu">
        <a href="{{ url_for('User.profile') }}" class="link_sign_up">
            {{ current_user.username }}
        </a>
    </li>
    {% else %}
    <li class="main_menu_item left_side_menu">
        <a href="{{ url_for('User.sign-in') }}" class="link_sign_up">
            <i class="fas fa-sign-in-alt"></i>
        </a>
    </li>
    {% endif %}
    <li class="main_menu_item">
        <a href="{{ url_for('wall') }}" class="link_wall">wall</a>
    </li>

</menu>

{% block main %}

<main>


</main>

{% endblock main %}

<script src="{{ url_for('static', filename='js/requests.js') }}" type="module"></script>
{% block scripts %}
{% endblock scripts %}

</body>
</html>