.palet {
    color: #00b8a9;
    color: #f8f3d4;
    color: #f6416c;
    color: #ffde7d;

    color: #114c47;
    color: #1b756d;
}

body {
    background-color: #f8f3d4;

    font-family: 'Baloo Tamma 2', cursive;

    transition: all .2s;
}

.main_menu {
    position: fixed;

    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ffde7d;

    transition: all .2s;

    z-index: 10;
}

.main_menu_item {
    position: relative;

    padding: 1%;
    margin: 0 1%;

    height: 105%;

    background-color: #ffde7d;

    box-shadow: 0 10px 20px rgba(246, 65, 108, .3);

    border-radius: 20px;

    transition: all .2s;
}

.main_menu_item a {

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

    font-size: 21px;
    font-weight: 600;
    color: #1b756d;

    transition: all .2s;
}

.main_menu_item a:hover {
    color: #00b8a9;
}

.main_menu_item:hover {
    transform: translate(0, 10px);

    box-shadow: 0 13px 23px rgba(246, 65, 108, .3);
}

.left_side_menu {
    position: absolute;

    left: 2%;
    top: 50%;
    transform: translate(-2%, -50%);
}

.left_side_menu:hover {
    transform: translate(-2%, calc(-50% + 10px));
}

.right_side_menu {
    position: absolute;

    right: 2%;
    top: 50%;
    transform: translate(-2%, -50%);
}

.right_side_menu:hover {
    transform: translate(-2%, calc(-50% + 10px));
}

main {
    padding-top: 7%;
}

.flashes {
    position: fixed;

    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);

    padding: 20px;

    width: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #ffde7d;

    border-radius: 20px;

    box-shadow: 0 10px 20px rgba(246, 65, 108, .3);

    color: #114c47;
    font-size: 21px;

    transition: all .5s;

    z-index: 20;
}

.flashes-message {
    cursor: pointer;
    transition: all .3s;
}