.sign_up_form, .sign_in_form {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 2% 0;

    width: 40%;
    height: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background-color: #ffde7d;

    border-radius: 20px;
}

.sign_up_form {
    height: 50%;
}

.sign_up_form input, .sign_in_form input, .sign_up_btn {

    padding: 1% 4%;
    margin: 2% 0;

    width: 80%;
    height: 10%;

    background: #ffde7d;
    
    box-shadow:  0 10px 20px rgba(246, 65, 108, .3);

    border: none;
    border-radius: 15px;

    color: #1b756d;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Baloo Tamma 2', cursive;
}

.register_form_title {
    color: #1b756d;
    font-size: 25px;
}

.sign_up_btn {
    padding: 0;

    width: 50%;
    height: 15%;

    transition: all .2s;
}

.sign_up_btn:hover {
    box-shadow:  0 15px 25px rgba(246, 65, 108, .3);

    color: #00b8a9;
}

.sign_up_link {
    position: absolute;

    bottom: 5%;
    right: 5%;

    padding: 2% 3%;

    background-color: #1b756d;

    border-radius: 10px;

    color: #ffde7d;

    transition: all .2s;

}

.sign_up_link:hover {

    background-color: #008378;

    color: #fce49e;
}