.wall {
    margin: 0 auto;

    width: 97%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(200px, 300px);
    grid-gap: 10px;
    grid-auto-flow: dense;

}

.tile {
    position: relative;

    padding: 10px;

    background-color: #1b756d;

    border-radius: 10px;

    color: #05322f;
    font-size: 14px;

    box-shadow: 0 0 10px rgba(225, 222, 125, .1);

    overflow: hidden;

    cursor: pointer;

    transition: all .2s;
}

.tile:hover {
    box-shadow: 0 0 20px rgba(98, 26, 40, .7);
}

.tile_header {
    position: relative;

    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border-bottom: 2px solid #10433e;
}

.tile_author_img_container {
    position: relative;

    max-width: 30%;
    height: 70%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    overflow: hidden;
}

.tile_author_img {
    width: 100%;
}

.tile_author {
    color: #10433e;
    font-size: 22px;
}

.tile_content {
    padding-top: 2px;

    width: 100%;
    height: 70%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(10%, 100%);
    grid-gap: 10px;
    grid-auto-flow: dense;

    overflow: hidden;
}

.tile_content_element {
    position: relative;

    grid-column: 1/7;
    grid-row: 1/3;

    overflow: hidden;
}

.tile_content .tile_content_element:nth-child(2) {
    grid-column: 1/7;
    grid-row: span 5;
}

.tile_content_img_container {
    position: relative;

    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    overflow: hidden;
}

.tile_content_img {
    height: 100%;
}

.tile_content_text {
    text-align: justify;
}


/*Large tile styles ============*/


.large-tile {
    grid-column: span 3;
    grid-row: span 2;

    font-size: 21px;
}

.large-tile .tile_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.large-tile .tile_author {
    margin-left: 10%;

    font-size: 40px;
}

.large-tile .tile_content .tile_content_element:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/4;
}

.large-tile .tile_content .tile_content_element:nth-child(2) {
    grid-column: 4/7;
    grid-row: 1/5;
}

/*=======================*/

/*Medium tile styles ============*/

.medium-tile {
    grid-column: span 2;
    grid-row: span 1;

    font-size: 17px;
}

.medium-tile .tile_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.medium-tile .tile_author {
    margin-left: 10%;

    font-size: 30px;
}

.medium-tile .tile_author_img_container {
    max-width: 20%;
}

.medium-tile .tile_content .tile_content_element:nth-child(1) {
    grid-column: 1/4;
    grid-row: 1/4;
}

.medium-tile .tile_content .tile_content_element:nth-child(2) {
    grid-column: 4/7;
    grid-row: 1/5;
}


/*Reveal tile ===========================*/


.reveal-tile {
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;

    width: 90%;
    height: 90%;

    background-color: #1b756d;

    border-radius: 20px;

    box-shadow: 0 0 30px #114c47;

    transition: all .5s;

    z-index: 11;
}

.reveal-tile-bar {
    position: absolute;

    top: 13px;
    right: 20px;

    transition: all .2s;

    z-index: 12;
}

.reveal-tile-bar button {
    margin: 5px;

    background: none;
    border: none;

    color: #114c47;
    font-size: 21px;

    transition: all .2s;
}

.reveal-tile-bar button:hover {
    color: #2b8c80;
}

.reveal-tile-container {
    position: relative;

    width: 100%;
    height: 100%;
}

.reveal-tile-author-container {
    position: relative;

    padding-bottom: 10px;

    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;

    border-bottom: 2px solid #114c47;
}

.reveal-tile-author-img-container {
    position: relative;

    margin-right: 2%;

    width: 7%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    overflow: hidden;
}

.reveal-tile-author-img {
    width: 100%;
}

.reveal-tile-author {
    color: #114c47;
    font-size: 40px;
}

.reveal-tile-content {
    padding: 10px;

    width: 98%;
    height: 85%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(10%, 100%);
    grid-gap: 10px;
    grid-auto-flow: dense;

    color: #05322f;
    font-size: 18px;
}

.reveal-tile-content-element {
    grid-column: span 6;
    grid-row: span 1;

    display: flex;
    align-items: center;
}

.reveal-tile-content-element:nth-child(2) {
    grid-column: span 6;
    grid-row: span 5;
}

.reveal-tile-content-img-container {
    position: relative;

    height: 100%;

    border-radius: 10px;

    overflow: hidden;
}

.reveal-tile-content-img {
    height: 100%;
}